img {
    max-width: 100%;
    background-color: purple;
    border-radius: 20px;
    box-shadow: 0px 0px 15px black;
}

#img-div {
    font-family: 'Arbutus', cursive;
    position: relative;
    padding: 40px 15px 15px 15px;
}

#heroPic {
    width: 300px;
}

#addToTeam {
    text-decoration: underline;
    font-size: 20px;
    position: absolute;
    width: 115px;
    height: 40px;
    bottom: 25px;
    right: 25px;
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    color:rgb(190, 6, 190);
    border: groove 5px rgb(152, 19, 172); 
    font-weight: bold;
    height: auto;
}

#addToTeam:hover {
    background-color: rgb(47, 47, 47);
}

#addToTeam:active {
    background-color: rgb(255, 255, 255);
}

#char-bio {
    padding-right: 15px;
}

#description{
    font-family: 'Arbutus', cursive;
    font-size: calc(10px + .5vw);
    padding: 10px 40px 10px 40px;
    margin-left: 10px;
    box-shadow: 5px 5px 8px rgb(110, 109, 109);
    color: white;
    background-color: rgb(0, 0, 0);
    border: groove 5px rgb(152, 19, 172); 

}

h3 {
    font-family: 'Arbutus', cursive;
    text-align: center;
    font-size: calc(40px + .3vw);
    background-color: rgb(0, 0, 0);
    color:rgb(190, 6, 190);
    border-radius: 8px;
    margin-top: 30px;
    padding: 0px 10px 0px 10px;
    border: 5px ridge rgb(123, 119, 152);
    box-shadow: 5px 5px 5px rgb(110, 109, 109);
    margin-bottom: 20px;
}
