img {
    max-width: 100%;
    background-color: purple;
    border-radius: 20px;
    box-shadow: 0px 0px 15px black;
}

#heroPic {
    width: 350px;
}

#img-div {
    position: relative;
    padding: 40px 15px 15px 15px;
}

#addToTeam {
    text-decoration: underline;
    position: absolute;
    width: 115px;
    height: 35px;
    bottom: 25px;
    right: 25px;
    background-color: brown;
}

h3 {
    text-align: center;
    font-size: calc(40px + .3vw);
    background-color: rgb(110, 12, 135);
    color: red;
    border-radius: 8px;
    margin-top: 30px;
    padding: 0px 10px 0px 10px;
    border: 5px ridge rgb(123, 119, 152);
    box-shadow: 5px 5px 5px rgb(110, 109, 109);
}

#description {
    font-size: calc(16px + .6vw);
    padding: 10px 40px 0px 40px;
    margin-left: 10px;
    background-color: rgb(90, 6, 90);
    color: rgb(255, 255, 255);
    border: groove 5px rgb(63, 58, 58);
    box-shadow: 5px 5px 5px rgb(110, 109, 109);
}