img {
  height: 500px !important;
  width: 350px !important;
}

.remove-hero {
  /* width: 50px !important; */
}

.add-hero {
  height: 20vh;
}

.team p{
  font-size: 30px;
  padding-top: 20px;
  margin-bottom: 0px;
}

#teammateName {
  font-family: 'Faster One', cursive;
  color:rgb(18, 157, 18);
}

#teamName {
  font-family: 'Bangers', cursive;
  color: Purple;
  
}