*{
  font-family: 'Edu NSW ACT Foundation', cursive;
  font-family: 'Marvel', sans-serif;
}

main{
  min-height:calc(100vh - 100px);
  height:auto;
  box-sizing:border-box;
  background: rgb(244,232,234);
  background: linear-gradient(0deg, rgba(244,232,234,1) 0%, rgba(247,217,210,1) 35%, rgba(187,75,91,0.38139005602240894) 100%);

}


body{ 
  margin:0 auto;
  /* padding-top: 50px !important; */
}

nav ul {
  list-style-type: none;
  display:flex;
  text-align: center;
}

nav ul a{
  float:left;
  text-align:center;
  text-decoration: none;
  color: white;
  display:block;
}

nav ul a:hover{
  color:rgb(149, 110, 110);
}

#custom-navBar {
  background: rgb(8,0,1);
  background: linear-gradient(0deg, rgba(8,0,1,1) 0%, rgba(73,20,6,1) 35%, rgba(190,11,36,1) 100%);
  color: white;
  /* overflow: hidden; */
  font-size: 2rem;
  /* width: 100%;
  left: 0px;
  right: 0px; */
}

#navbar {
  overflow: hidden;
  /* container-fluid */
  height: auto;
}


#marvelTeamsNavBar{
  float:left;
  overflow:hidden;
  /* height: 200px; */
}


#dropdownNavBtn, #marvelTeamsNavBar{
  border:none;
  outline:none;
  font-family: inherit;
  background-color: inherit;
  font-size: inherit;
  color: inherit;
  margin:0;
}


#dropdown-menu{
  display: none;
  position:absolute !important;
  background-color: inherit;  
  /* check color */
  max-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  background-color:rgb(246, 204, 204);


}

#dropdown-menu a{
  float:none;
  color:black;
  text-decoration: none;
  display: block !important;
  text-align: left;
  padding: 12px 16px;


}

#marvelTeamsNavBar:hover #dropdown-menu {
  display: block;

}

#dropdownNavBtn:hover{
  overflow:visible;
}

#dropdown-item {
  background-color: white;
}

#marvelLink {
  align-items: left;
}

#dropdownNavBtn:hover{
  color:rgb(149, 110, 110);

}

@media screen and (max-width: 683px){ 
  #custom-navBar li{
    font-size: 1.5rem;
  }

  #custom-navBar ul{
    padding-left:5px;
  }
}

@media screen and (max-width: 535px){ 
  #custom-navBar li{
    font-size: 1rem;
  }
}


@media screen and (max-width: 413px){ 
  #custom-navBar li{
    font-size: 0.8rem;
    padding-left: 2px !important;

  }
}

@media screen and (max-width: 366px){ 
  #custom-navBar li{
    padding-left: 2px;

  }
}


/* #xForce, #avengers  {
padding-left:20%;

}

#xMen, #guardians{
padding-right: 20%;

} */

#marvelTeams img{
  width: 250px;
}

footer{
  background: rgb(8,0,1);
  background: linear-gradient(0deg, rgba(8,0,1,1) 0%, rgba(73,20,6,1) 35%, rgba(190,11,36,1) 100%);
  color: white;
  height: 50px;
}