img {
    max-width: 100%;
    background-color: purple;
    border-radius: 20px;
    box-shadow: 0px 0px 15px black;
}

#img-div {
    position: relative;
    padding: 40px 15px 15px 15px;
}

#addToTeam {
    text-decoration: underline;
    position: absolute;
    width: 115px;
    height: 35px;
    bottom: 25px;
    right: 25px;
    background-color: black;
}

h3 {
    text-align: center;
    font-size: calc(40px + .3vw);
    background-color: rgb(0, 0, 0);
    color: blue;
    border-radius: 8px;
    margin-top: 30px;
    padding: 0px 10px 0px 10px;
    border: 5px ridge rgb(255, 30, 0);
    box-shadow: 5px 5px 5px rgb(110, 109, 109);
}

#description {
    padding: 10px 40px 0px 40px;
    margin-left: 10px;
    margin-top: 6px;
    font-size: calc(17px + .7vw);
    background-color: rgb(21, 12, 70);
    color: white;
    border: groove rgb(255, 0, 0) 5px; 
    box-shadow: 5px 5px 5px rgb(110, 109, 109);
}