main{
    padding-top:40px;
}

/* Img container */
#img-div {
    font-family: 'Acme', sans-serif;
    position: relative;
    padding: 40px 15px 15px 15px;
}

img {
    max-width: 100%;
    background-color: rgb(52, 119, 123);
    border-radius: 20px;
    box-shadow: 0px 0px 15px black;
}

/* Btn */
#addToTeam {
    text-decoration: underline;
    position: absolute;
    width: 200px;
    height: 40px;
    bottom: 25px;
    right: 25px;
    background-color: rgb(110, 209, 212);
    border-radius: 10px;
    font-weight: bold;
    font-size: 30px;
    border: 5px groove black;
    height: auto;
}

#addToTeam:hover {
    background-color: aliceblue;
}

#addToTeam:active {
    background-color: rgb(158, 173, 187);
}

/* Char name */
#charName{
    color:black;
}

h3 {
    font-family: 'Acme', sans-serif;
    text-align: center;
    font-size: calc(40px + .3vw);
    background-color: rgb(110, 209, 212);
    color: white;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 0px 10px 0px 10px;
    border: 5px ridge rgb(123, 119, 152);
    box-shadow: 5px 5px 5px rgb(110, 109, 109);
}

/* Bio text */
#description{
    font-family: 'Acme', sans-serif;
    font-size: calc(16px + .5vw);
    padding: 10px 40px 10px 40px;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: 5px 5px 8px rgb(110, 109, 109);
    color: black;
    background-color: rgb(110, 209, 212);
    border: groove 10px rgb(22, 58, 75); 
    
}
