/* nav {
    font-size: 100px;
    padding: 0px;
    margin: 0px;
    line-height: 100px;
} */

img {
    max-width: 100%;
    background-color: purple;
}

#img-div {
    position: relative;
    padding: 0px;
}

#addToTeam {
    position: absolute;
    width: 200px;
    height: 30px;
    bottom: 5px;
    right: 10px;
}

#specialPlacesText {
    background-color: purple;
    height: 100px; 
    width: 70%;
}
  

#imgNavBar {
  width: 20%;
  height: 20%;
  border-radius: 5px;
}

#imgXForce, #imgXMen, #imgAvengers, #imgGuardians {
  width: 40%;
  height: 50%;
}

@media screen and (max-width: 586px){ 
  #site-search {
    font-size: 10px;
    }
  #searchBtn {
    font-size:14px;
  }
  #searchSite {
    font-size: 20px;
  }

  }
