*{
  font-family: 'Edu NSW ACT Foundation', cursive;
  font-family: 'Marvel', sans-serif;
  overflow-x: hidden;

}

main, footer {
  background: rgb(244,232,234);
  background: linear-gradient(0deg, rgba(244,232,234,1) 0%, rgba(247,217,210,1) 35%, rgba(187,75,91,0.38139005602240894) 100%);
}

body{ 
  margin:0 auto;
  padding:0;
}


img {
    max-width: 100%;
    background-color: purple;
}

#img-div {
    position: relative;
    padding: 0px;
}

#addToTeam {
    position: absolute;
    width: 200px;
    height: 30px;
    bottom: 5px;
    right: 10px;
}

#specialPlacesText {
    text-align: center;
    height: 100px; 
    width: 70%;
    border: 5px groove black;
}

#GoogleMapWidget {
    height: 200px; 
    width: 200px; 
}


#imgXForce, #imgXMen, #imgAvengers, #imgGuardians {
  width: 40%;
  height: 50%;
}

@media screen and (max-width: 586px){ 
  #site-search {
    font-size: 10px;
    }
  #searchBtn {
    font-size:14px;
  }
  #searchSite {
    font-size: 20px;
  }

  }

  #marvelLink {
    position: absolute;
    right:0;
    text-align: right;
    padding-right: 20px;
  }


  #marvelTeams a {
    text-decoration: none;
    color: black;
  }