img {
  max-width: 100%;
}

#groot img {
  max-width: 254px;
  height: 392px;
}

#rocket img {
  max-width: 254px;
  height: 392px;
}

#yondu img {
  max-width: 254px;
  height: 392px;
}

#howardTheDuck img {
  max-width: 254px;
  height: 392px;
}

#nightCrawler a img, #gambit a img, #storm a img, #magneto a img {
  width: 281px;
  height: 385px;
}
